@model List<eCommerceSite.Models.Database.product>
@{
    ViewBag.Title = "ViewProduct";
}

<h2>Product List</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>


    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.id</td>
            <td>@obj.name</td>
            <td>@obj.price</td>
            <td>@obj.qty</td>
            <td><a class="btn btn-success" href="/product/addToCart/@obj.id">Add to Cart</a></td>
        </tr>
    }

</table>

